In [2]:
import pandas as pd
import numpy as np

## Series

In [3]:
s = pd.Series(np.random.rand(5))
s

0    0.539341
1    0.463621
2    0.098883
3    0.868081
4    0.411422
dtype: float64

In [4]:
s = pd.Series(np.random.rand(5),index=list('ABCDE'))
s

A    0.551159
B    0.601304
C    0.436368
D    0.302987
E    0.725014
dtype: float64

In [45]:
d = {'a':1,'b':2,'c':3,'d':4}
s = pd.Series(d,index=list('abcde'))
s

a    1.0
b    2.0
c    3.0
d    4.0
e    NaN
dtype: float64

## DataFrame

In [46]:
d = {'colmn1':[1,3,2,4,5],'column2':[5,1,7,8,None],'column3':[8,1,2,5,7]}
df = pd.DataFrame(d)
df

   colmn1  column2  column3
0       1      5.0        8
1       3      1.0        1
2       2      7.0        2
3       4      8.0        5
4       5      NaN        7

In [54]:
l = [[1,3,2,4],[5,1,7,8],[8,1,2,7]]
df = pd.DataFrame(l,columns=list('ABCD'),index=range(1,4))
df

   A  B  C  D
1  1  3  2  4
2  5  1  7  8
3  8  1  2  7

In [55]:
df[["A","B"]]

   A  B
1  1  3
2  5  1
3  8  1